html{
scroll-behavior: smooth;
}

body{
background-color: #ffffff;
}

*{
margin: 0;
padding: 0;

}

header{
width: 100%;
font-size: 18px;
color: #000000;
display: flex;
justify-content: center;
}

header h1{
font-weight: 300;
font-family:Do Hyeon;

}

main{
font-size: 18px;
color: #000000;
background-color: #ffffff;
display: flexbox;
justify-content: center;
height: 100vh;
}

main h1{
font-weight: 400;
font-family:IBM Plex Mono;
}

.ola{
color:#000000;
height:50vh;
border-radius:30px ;
background-color: #11d465;

}


.prin{
    justify-content: center;
    }

.ola p{

}



#gif1{
background-image: url('./ASSETS/gifboome.gif');
background-position: center;
background-size: cover;

}

#logocvdisplay{
background-image: url('./ASSETS/logocv.png');
background-position: center;
background-size:20%;
mix-blend-mode:darken;
animation: roda 15s infinite linear;
}

#toy{
background-image: url('./ASSETS/Group 13.svg');
background-position: center;
background-size:20%;
animation: mexe 15s infinite linear;
}


@keyframes roda {
0% {
background-position: rotate(0deg);
}
100% {
background-position: rotate(360deg);
}
}

@keyframes mexe {
0% {
background-position: 0% 0%;
}
50% {
background-position: 100% 100%;
}
100% {
background-position: 0% 0%;
}
}


#toy h1{
background-color: #0c3522;
color: #ffffff;
}

a{
color: inherit;
}

.pixel{
font-family: IBM Plex Mono;
color:#0c3522;
background-color: #ffffff00;
border: 5px solid #739183;
border-style: inset;
margin-top:0.5%;
}

#number{
font-family: Pixelify Sans;
color:#ffffff;
background-color: #000000;
border: 5px solid #739183;
border-style: inset;
margin-top:0.5%;
}

.imgscomps img{
width: 500px;
}

.gifpartes{
width: 300px;
height: 337px;
object-fit: cover;
border: 2px solid #0c3522; 
}
