html{
scroll-behavior: smooth;
}

body{
background-color: #ffffff;
}

*{
margin: 0;
padding: 0;

}

header{
width: 100%;
font-size: 18px;
color: white;
display: flex;
justify-content: center;
background-color: #198754;
}

header h1{
font-weight: 300;
font-family:Do Hyeon;

}

main{
font-size: 18px;
color: #000000;
background-color: #ffffff;
display: flexbox;
justify-content: center;
font-family: IBM Plex Mono;
}

.ola{
color:#ffffff;
border-radius:30px ;
background-color: #198754;
overflow: hidden;
min-height: 40vh;
}


.botaocook{
    background-color: #0c3522;
    color: white;

    font-weight: 800;
}


.olal{
    color:#ffffff;
    border-radius:30px ;
    background-color: #198754;
    overflow: hidden;
    height: 50vh;
    font-family:IBM Plex Mono;
}

.opoli{
    justify-content: center;
    border-radius:30px ;
    border: 5px solid #198754;
    height: 20vh;
    font-family:IBM Plex Mono;
}

.ola:nth-child(1){
    background-image: url('./ASSETS/pixil-frame-0\ \(1\).png');
    background-position:95%;
    background-size:15vw;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    }

    
.ola:nth-child(2){
    background-image: url('./ASSETS/opuioyuoi.png');
    background-position:95%;
    background-size:15vw;
    image-rendering: pixelated;
    background-repeat: no-repeat;

    }

    .ola:nth-child(3){
        background-image: url('./ASSETS/pixil-frame-0.png');
        background-position:95%;
        background-size:15vw;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        }

        
    .ola:nth-child(4){
        background-image: url('./ASSETS/pixcog.png');
        background-position:100%;
        background-size:15vw;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        }





#gif1{
background-image: url('./ASSETS/gifboome.gif');
background-position: center;
background-size: cover;

}

#logocvdisplay{
background-image: url('./ASSETS/logocv.png');
background-position: center;
background-size:20%;
mix-blend-mode:darken;
animation: roda 15s infinite linear;
}

#toy{
/*background-image: url('./ASSETS/Group 13.svg');
animation: mexe 100s infinite linear;
image-rendering: pixelated;
background-image: url(./ASSETS/pest.png); 
background-size:200%;
background-blend-mode:screen;
background-color: #1100ff;*/
}


@keyframes roda {
0% {
background-position: rotate(0deg);
}
100% {
background-position: rotate(360deg);
}
}

@keyframes mexe {
0% {
background-position: 0% 0%;
}
50% {
background-position: 100% 100%;
}
100% {
background-position: 0% 0%;
}
}


#toy h1{
background-color: #0c3522;
color: #ffffff;
}

a{
color: inherit;
}


.cell{
    border:2px solid #0c3522;
    border-bottom: none;
    font-family:IBM Plex Mono;
    margin-bottom: 0rem;

}
.cell:nth-child(11){
    border:2px solid #0c3522;
}

.cell input{
    border: none;
}

#logoutro{
    width: 5vh;
    image-rendering: pixelated;
    margin-left: 2vh;
}


.prin{
    justify-content: center;
    }



.imgscomps img{
width: 500px;
}

.gifpartes{
width: 20vw;
height: 65%;
object-fit: cover;
background-color: rgb(255, 255, 255);
float: left;
border: 15px solid #0c3522 ;

}



.cube {
    position: static;
    transform-style: preserve-3d;
    max-width: fit-content;
}

.cube22{
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg);
    margin-top: 4vh;
}

.cube23{
    position:relative;
    transform-style: preserve-3d;
    transform:rotateY(90deg);
    float: left;
}
.cube24{
    position:relative;
    transform-style: preserve-3d;
    transform:rotateY(180deg);
    
}
.cube25{
    position:relative;
    transform-style: preserve-3d;
    transform:rotateY(270deg);
    
}
.cube26{
    position:relative;
    transform-style: preserve-3d;
    transform:rotateY(1deg);
}

.lol {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black; 
    /*border-bottom: dashed;*/
    background-color: #ffffff;
    color: #000000;

}

.lol2 {
    float: left;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black; 
    /*border-bottom: dashed;*/
    background-color: #ffffff;
    color: #000000;
}

.lol:nth-child(3) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black; 
    background-image: url('./ASSETS/faceta\ cima\ predio\ modelo\ creatorAtivo\ 10.svg');
    background-size: 200%;
    background-position: 100%;
    background-repeat: unset;
}

.lol2:nth-child(3) {
    float: left;
    
    align-items: center;
    justify-content: center;
    background-image: url('./ASSETS/faceta\ cima\ predio\ modelo\ creatorAtivo\ 10.svg');
    border: 3px solid black; 
    /*border-bottom: dashed;*/
    background-color: #ffffff;
    color: #000000;
}

.cube1 {
    position: relative;
    transform-style: preserve-3d;
    max-width: fit-content;
    transform:rotateX(-45deg) rotateY(45deg);
    margin-top: 6vw;
    margin-left: 5.2vw;
}

.cube12 {
    position: relative;
    transform-style: preserve-3d;
    max-width: fit-content;
    transform: translateX(380px) translateY(-54px) rotateX(-45deg) rotateY(180deg);
}

.cube13 {
    position: relative;
    transform-style: preserve-3d;
    max-width: fit-content;
    transform: translateX(580px)   translateY(-54px) rotateX(-45deg) rotateY(-90deg);
}

.x { transform: translateZ(100px); }
.z { transform: translateZ(-100px) rotateY(180deg); }
.c { transform: translateX(-116px) rotateY(-90deg); }
.v { transform: translateX(-6px) rotateY(90deg); }
.b { transform: translateY(-100px) rotateX(90deg); }

.lala {
justify-content: space-evenly;
display: flexbox;

}

.pol3{
    background-color: #198754;
    padding-top: 5vh;
    margin-top: 5vh; 
    height: 50vh;
    border-radius: 45px;
    color: #ffffff;
    font-family: IBM Plex Mono;
}

footer{
    height: 10vh;
    margin-top: 5vh;
    background-image: url(./ASSETS/plantinha\ footer.png);
    background-repeat:repeat-x;
    background-size: contain;
    image-rendering: pixelated;
    overflow: hidden;
}

#sdio{
    text-align: center;
}

